body{
    width: 1275px;
    height: 590px;
    margin: 0%;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); 
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
   overflow: hidden;

    
}
@font-face {
    font-family: myfont;
    src: url('assets/Poppins-Light.ttf');
}
#container{
    grid-area: 2/3/7/11;
    
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
 #form-side{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}
#image-side{
    grid-column-start: 2;
    grid-column-end: 3;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} 
img{
    position: absolute;
    width: 425px;
    height:422px ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
form{
    position: relative;
     left: 20px;
}
p{
    position: relative;
    top: 37px; right: -20px; 
}
#last_name{
    position: relative;
    left:195px; bottom: 30px;
}
button{
    position: relative;
    top: 35px; right: 190px;
    font-size: 20px;
    
    background-color: rgb(220, 215, 215);
   
}
#email{
    position: relative;
    left: 8px; 
    width: 310px;
}
#confirm_password{
    position: relative;
    left: 195px; bottom: 15px;
}
#password{
    position: relative;
    top: 20px;
}
input{
    border-radius: 15px;
    font-size: 15px;
    height:25px ;
}
#age{
    width: 50px;
}
h3{
    font-size: 50px;
    position: relative;
    left: 120px;
    color: orange;
    font-family: myfont;
}
input:invalid{
    border: 3px solid red;
}
input:valid{
    border: 3px solid green;
}