/*setting the body to flex and it's margin to 0*/
body{
    margin: 0%;
    display: flex;
    gap: 5px;
}
/* adding downloaded fonts */
@font-face {
    font-family: myFirstfont;
    src: url('EduTASBeginner-VariableFont_wght.ttf');
}
@font-face {
    font-family: mySecondfont;
    src: url('Savor\ Fall.ttf');
}
/* dividing the body into two boxes */
#image_side{
    flex: 2 0 auto;
    height: 1210px;
    
    display: flex;
    background-image: url('2713606_383070-PCEZT1-903.jpg');
    background-repeat: no-repeat;
    background-size: 900px 1300px;
}
#form_side{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 1210px;
    
    gap: 5px;
    background-color: rgb(250, 250, 215);
}
/* creating a box inside the image_side box for the logo */
#logo_space{
    flex: 1 0 auto;
    height: 300px;
   
    margin-top: 130px;
    background-color: rgb(128, 128, 128,0.5);
}
/* divising the form side into two boxes */
#heade{
    flex: 0 1 auto;
   
    height: 303px;
    
}
#form_space{
    flex: 0 0 auto;
     
    height: 610px; 
    margin: 70px;
    background-color: rgb(250, 250, 215);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* setting the dimensions of the logo */
#logo{
    height: 300px;
    width: 300px;
}
/* setting the dimensions and the position of the title accompagning the logo */
#title{
    font-size: 110px;
    position: relative;
    left: 300px; bottom: 360px;
    font-family: myFirstfont;
}
/* setting the position and style of the text in the head */
p{
    margin: 30px;
    position: relative;
    left: 10px; 
    font-size: 50px;
    padding-left: 0px;
    font-family: myFirstfont;
}
/* setting the position and size of the forms */
#form2{
    font-size: 60px;
    position: relative;
    left: 820px; bottom: 290px;
}
#form1{
    font-size: 60px;
    position: relative;
    top: 120px; left: 60px;
}
/* setting the size of the input fields */
input{
    font-size: 50px;
}
/* setting the style and size of the buttons */
button{
    font-size: 80px;
    border-radius: 16px;
    background-color: yellowgreen;
    margin: 20px;
    position: relative;
    top: 70px; right: 900px;
}
/* setting validation style */
input:invalid {
    border: 4px solid red;
    border-radius: 15px;
  }
  
input:valid {
    border: 4px solid green;
    border-radius: 15px;
    
}